- if (user) {
  div#current-list Personal
  div#groups-list
    //- for list of groups user is in, make li for each
    ul
    each group in groups
      li=group
  div#navbar
    ul
      li
        p#profile
          span#avatar
            a(href=steam.profileurl) 
              img(src=steam.avatar)
          span#name #{steam.personaname}
      li
        form(id="logout-form", method="post", action="/session")
          input(type="hidden", name="_csrf", value=token)
          input(type="hidden", name="_method", value="DELETE")
          input#logout-button(type="submit", value="Logout")
      li
        a(href="/groups") Create Group
  div(ng-view)
- } else {
  a(href='/session')
    img(src="/images/sits_small.png")
- }